/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  gap: 10px;
  background-color: #b9b9b9;
}

.nav--colormode {
  padding: 10px;
  height: 80%;
}

.nav--hardle {
  color: green;
  font-size: 3em;
}

.nav--colormode {
  height: 100%;
}

/* INFO */
.info--button {
  padding: 10px;
  height: 100%;
}

.info--panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 100%;
  height: auto;
  z-index: 9998;
}

/* GUESSES */
.guesses {
  height: 10%;
}

.guess {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.guess--reset {
  padding: 10px;
}

.guess--tiles {
  display: flex;
  gap: 5px;
}

.tile {
  background-color: white;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-size: 3.5rem;
}

.tile,
.guess--reset {
  cursor: pointer;
  height: 70px;
  width: 70px;
}

/* GUESS PEGS */

.pegs {
  margin-bottom: 20px;
}

.pegs--peg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background: rgb(120, 215, 70);
  position: absolute;
}

/* KEYBOARD */
.keyboard {
  display: grid;
  grid-row: 3;
  justify-content: center;
}

.keyboard--line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.keyboard--key {
  color: black;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(83, 83, 83);
  border-style: solid;
  width: 50px;
  height: 50px;
  font-size: 2em;
}

.wide-key {
  width: 75px;
  background-color: rgb(185, 185, 185);
}

/* STATS */
.stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 100%;
  height: auto;
  z-index: 9998;
}
